*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/build/
/config.h
/config.h.in
/config.log
/config.status
/configure
/core
/example
/fuzz
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/pack
/src/static.c
/stamp-h1
/static/generated/constants.js
/tests/ipc_fuzz.bin
tweak/version.h
