.container {
	position: relative;
}

#status {
	position: absolute;
	right: 15px;
	top: 20px;
	font-weight: bold;
}

#status.status-ok {
	color: #090;
}

#status.status-failure {
	color: #900;
}

#vars {
	position: relative;
}

#vars .overlay {
	display: none;
	position: absolute;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	cursor: not-allowed;
	opacity: 0.5;
	z-index: 999;
	background: repeating-linear-gradient(
		45deg,
		#aaa,
		#aaa 20px,
		#ccc 20px,
		#ccc 40px
	);
}

#vars.failure .overlay {
	display: block;
}
